<div class="account-page">
  <div class="signup-container">
    <div class="card">
      <form [formGroup]="loginForm" (submit)="loginUser()">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" formControlName="email" id="email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="text" formControlName="password" id="password">
        </div>
        <div class="form-group">
          <span>{{ firebaseErrorMessage}}</span>
        </div>
        <button type="submit">Login</button>
      </form>
    </div>
  </div>
</div>
