<nav>
    <div class="logo">Rwzz</div>
    <div class="menu">
        <div class="menu__item">Home</div>
        <div class="menu__item">Work</div>
        <div class="menu__item">skills</div>
        <div class="menu__item">about</div>
        <div class="menu__item">contact</div>
    </div>
    <div class="social">
        <div class="social__item">fb</div>
        <div class="social__item">insta</div>
        <div class="social__item">github</div>
        <div class="social__item">lk</div>
    </div>
</nav>