nav {
    height: 100vh;
    width: 4%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
    color: #4d4d4e;
    background-color: #181818;
    // box-shadow: 0 8px 38px rgba(0,0,0,0.10), 0 8px 12px rgba(0,0,0,0.1);
    .logo {
        height: 9%;
        width: 100%;
        background-color: #000;
        color: #f2f2f2;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        &__letter {
            text-transform: uppercase;
            display: block;
            font-family: 'Roboto Condensed';
            font-weight: 600;
            font-size: 2.9vw;
            line-height: 0.9em;
            // color: rgb(0, 183, 255);
            color: rgb(197, 154, 99);
        }
        &__subtitle {
            margin: 0;
            padding: 0;
            line-height: 0.9em;
            font-size: 0.7vw;
        }
    }

    .menu{
        width: 100%;
        font-size: 0.66vw;
        display: flex;
        align-items: center;
        flex-flow: column wrap;
        &__item{
            padding: 20px 1px;
            text-transform: uppercase;
            cursor: pointer;
            &:hover{
            // color: rgb(0, 183, 255);
            color: rgb(197, 154, 99);

        }
        }
    }

    .social{

        font-size: 0.76vw;
        &__item{
            padding: 10px 5px;

        }
    }
}


.icon{
    height:26px; 
    fill:#4d4d4e;
}
.icon:hover {
    fill:rgb(197, 154, 99);
}