<div class="account-page">
  <div class="signup-container">
    <div class="card">
      <h1>Dashboard !!</h1>
      <button (click)="logout()">
        Log out
      </button>
      <form [formGroup]="blogPostForm" (submit)="submit()">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" formControlName="title" id="title">
        </div>
        <div class="form-group">
          <label for="content">Content</label>
          <textarea formControlName="content" id="content"></textarea>
        </div>
        <div class="form-group">
            <!-- Upload image -->
            <div class="avatar-upload">
              <div class="avatar-edit">
                <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" #fileInput (change)="uploadFile($event)" />
              </div>
              <div class="avatar-preview">
                <div id="imagePreview" [style.backgroundImage]="'url('+ imageUrl +')'">
                </div>
              </div>
            </div>
        </div>

        <button type="submit">Post</button>
      </form>

    </div>
  </div>
</div>
