<div class="page">
  <div class="intro-box">
    <div class="intro-box__title">
      BLOG
    </div>
    <div class="intro-box__detail">

      <div class="detail-wrap">
        <div class="detail-wrap__title">
          Author
        </div>
        <div class="detail-wrap__body">
          Riwaj Shrestha
        </div>
      </div>

      <div class="detail-wrap">
        <div class="detail-wrap__title">
          Email
        </div>
        <div class="detail-wrap__body">
          riwajshrestha7@gmail.com
        </div>
      </div>

      <div class="detail-wrap">
        <div class="detail-wrap__title">
          Work
        </div>
        <div class="detail-wrap__body">
          Web Developer
        </div>
      </div>

      <div class="detail-wrap">
        <div class="detail-wrap__title">
          Location
        </div>
        <div class="detail-wrap__body">
          Nepal
        </div>
      </div>

    </div>
  </div>

  <div class="post-box">
    <div class="post-box__title">
      Posts
    </div>

    <div class="post-box__body">

      <div class="post">

      </div>

      <div class="post">
        
      </div>

      <div class="post">
        
      </div>

      <div class="post">
        
      </div>
      
    </div>
  </div>

</div>
