.home-content{
    margin-top: 31vh;
    margin-left: 10vw;
    color: rgb(194, 194, 194);
} 


.content__1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 3.5vw;
    font-weight: 700;
}

.content__2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 1.5em;
    color: rgb(114, 114, 114);
}
