
    @mixin keyframes($animation_name) {
        @-webkit-keyframes #{$animation_name} {
            @content;
        }
      
        @-moz-keyframes #{$animation_name} {
            @content;
        }
      
        @keyframes #{$animation_name} {
            @content;
        }
    }


    @mixin animation($str) {
        animation: #{$str};
    }

.timeline {
    width: 1px;
    height: 300%;
    left: 9vw;
    top: 28vh;
    z-index: 9;
    position: absolute;
    background-color: rgb(197, 154, 99);
    .milestone {
        position: absolute;
        .bullet{
            position: absolute;
        }
        .bullet::before{
            content: '';
            position: absolute;
            left: -4px;
            top: 0;
            z-index: 10;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            border: 2px solid rgb(197, 154, 99);
            background-color: #1b191e;
        }
    
        .bullet-txt{
            color: rgb(197, 154, 99);
            margin-left: 1.4vw;
            margin-top: 0;
            line-height: 0.8;
        }
    }
    .milestone-1{
        top: 0;
    }
    .milestone-2{
        top: 25%;
    }
    .milestone-3{
        top: 50%;
    }
    .milestone-4{
        top: 99%;
    }
    
}


.home-content{
    margin-top: 31vh;
    margin-left: 10vw;
    color: rgb(194, 194, 194);
} 


.content__1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 3.5vw;
    font-weight: 700;
}

.content__2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 1.5em;
    color: rgb(114, 114, 114);
}

#spin {
    // color:rgb(65, 65, 65);
    color: rgb(197, 154, 99);
}

#spin:after {
    content:"";
    // animation: spin 5s linear infinite;
    @include animation('spin 5s linear infinite');
}

    @include keyframes(spin) {
        0% { content:"_";}
        1% { content:"%_";}
        2% { content:"d_";}
        4% { content:"de%_" ;}
        6% { content:"desi%_*" ;}
        8% { content:"desig_";}
        10% { content:"des!gne_%";}
        12% { content:"designer_";}
        29% { content:"designer_";}
        30% { content:"designe_%";}
        32% { content:"de$!gn_#";}
        33% { content:"de$!_%#";}
        34% { content:"de$_";}
        35% { content:"%de_";}
        36% { content:"%d_";}
        37% { content:"%_";}
        39% { content:"r_";}
        41% { content:"ri#_";}
        43% { content:"riw#_";}
        45% { content:"riw@#_";}
        47% { content:"riw@z#_";}
        49% { content:"riwaz_";}
        50% { content:"riwaz";}
        67% { content:"riwaz";}
        68% { content: "riwa_*";}
        69% { content: "$riwa_%";}
        70% { content:"r$!w_";}
        71% { content:"ri_^%";}
        72% { content:"[ri_%";}
        74% { content:"r^_%";}
        76% { content:"#_%";}
        78% { content:"d_";}
        80% { content:"de%_";}
        82% { content: "deve_^" ;}
        84% { content: "develo_" ;}
        86% { content: "developer_" ;}
        95% { content: "developer_" ;}
        96% { content: "develope_%";}
        97% { content: "deve^_&";}
        98% { content: "@de_";}
        100% { content: "_";}
        }

   