<div class="home-container">
  <div class="container">
    <div class="timeline">
      <div class="milestone milestone-1">
        <div class="bullet"></div>
        <div class="bullet-txt">Start/> </div>
      </div>
      <div class="milestone milestone-2">
        <div class="bullet"></div>
        <div class="bullet-txt">Work/> </div>
      </div>
      <div class="milestone milestone-3">
        <div class="bullet"></div>
        <div class="bullet-txt">Skills/> </div>
      </div>
      <div class="milestone milestone-4">
        <div class="bullet"></div>
        <div class="bullet-txt">About/> </div>
      </div>
    </div>
    <div class="home-content">
      <div class="content__1">Hi, <br>
        I am <span id="spin"></span>!
      </div>
      <div class="content__2">
        Let me show you..
      </div>
    </div>

  </div>

  <div class="big-R">
    R
  </div>
</div>



<!-- <a class="scroll-btn">

</a> -->
